.wrapper{
    display: flex;
    flex-direction: column;
    // margin: 0 10px 10px 10px;

}
.message{
    color: #f33a58;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 0 0;
    text-align: left;
    font-size: 14px;
}