.wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-basis: calc(25% - 10px); 
    height: 120px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
}

.card-bonus{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media only screen and (max-width: 750px) {
    .card {
        flex-basis: calc(50% - 10px)
    }
   
 }