.img {
    height: 200px;
}

.wrapper {
    background-color: white;
    padding: 8px 8px 15px 8px;
    margin-right: 10px;
    // margin-top: 10px;
    position: relative;
}

.demo {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.menu-items {
    display: flex;
    flex-direction: column;
    position: absolute; /* Thay đổi ở đây */
    background-color: white; /* Màu nền để menu rõ ràng */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng cho menu */
    z-index: 1;

}

.test {
    position: relative;
    cursor: pointer;
}
.hope{
    position:absolute;
    bottom: 0;
    right: 20;
}

.header{
    display: flex;           
    flex-direction: column;             
    width: 80%;               
    margin: 0 auto;        
    text-align: center; 
    position: relative;
}

.heading{
    padding: 0;
    margin: 0;
}

.aaa{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    // margin-bottom: 10px;
    
}

.icon{
    position: absolute;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
}




.edit-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 1rem;
}

.save-btn, .cancel-btn {
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
}

.save-btn {
    background-color: #4CAF50; /* Màu xanh cho nút Save */
    color: white;
    border: none;
}

.cancel-btn {
    background-color: #f44336; /* Màu đỏ cho nút Cancel */
    color: white;
    border: none;
}
.test1{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.icon1{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}
