.wrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin: 10px auto 0 auto; 
}
.action-get-img{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.action{
    text-align: center;
}