.wrapper{
    width: 60%;
    height: 80%;
    margin: 10px auto 0 auto;
    // background-color: red;   
    display: flex;
    flex-direction: column;
}
.new-demo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.demo{
    text-align: center;
}