.wrapper{
    font-size: 18px;
    min-width: 30px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    text-decoration: none;  
    text-align: center;
    &:hover{
        opacity: 0.8;
    }
    
}
.first{
    display: inline-block;
    min-width: 100px;
    padding: 6px 8px;
    background-color: #ffc246;
    // background-color: #ffc246;

    color:white;
    
    + .first{
        margin-left: 5px;
    }

}
.second{
    padding:10px 10px;
    background-color: #ffc246;
    color:white;
    
}
.third{
    border-radius: 0;
    padding: 5px 0;
    margin:  0px 10px;
    color:white;
    text-align: left;
    font-size: 1rem;
    border-radius: 10px;
    &:hover{
        background-color: white;
        color: black;
    }
    .icon{
        font-size: 15px;
        margin-left: 10px;
        width: 20px; 
        height: 20px; 
        display: inline-block;
        text-align: center;
    }
    .text{
        margin-left: 15px;
    }
}
.four{
    border-radius: 0;
    background-color: black;
    color: #a3a3a3;
    font-weight: 600;
    text-align: left;
    padding: 5px 5px;
    font-size: 14px;
    white-space: nowrap;
    &:hover{
        color: white;
        font-weight: 700;
    }  

}
.five{
    padding: 6px 18px;
    background-color: #474747;
    color:white;
    + .five{
        margin-left: 5px;
    }
}

