.wrapper{
    position: fixed;
    background-color: rgba(150, 148, 148, 0.8);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.signup{
    width: 432px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.xmark{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 20px;
    &:hover{
        cursor: pointer;
    }
}

.signup-title{
    text-align: center;
}

.group-control{
    margin: 0 10px 10px 10px;
    padding: 0px 10px ;
}

.signup-control{
    background: #f5f6f7;
    line-height: 20px;
    border-radius: 5px;
    border-style: none;
    padding: 10px 0px;
    padding-inline-start: 5px;
    font-size: 1.2rem;
    outline: none;
}

.signup-submit{
    background-color: #ffc246;
    color: #f1f1f1;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 10px 40px;
    border:none;
    box-shadow: none;
    font-size: 18px;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}