.wrapper{
    // margin-top-content = height-navbar
    --margin-top-content: var(--height-navbar)
}
.container{
    display: flex;
}
.block{
    width: 100%;
    background-color: #eaeaea;
}
.main-content{
    margin-left: 190px;
    margin-top: var(--margin-top-content);
    height: calc(100vh - var(--margin-top-content));
}

