.wrapper{
    background-image: url(https://marketplace.canva.com/EAE9AwkUznc/1/0/1600w/canva-%C4%91%E1%BB%8F-%C4%91%E1%BA%ADm-%E1%BA%A3nh-%E1%BA%A3nh-b%C3%ACa-facebook-%E1%BA%A3nh-gh%C3%A9p-c%C3%A1-nh%C3%A2n-wablupXK6PA.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: top;
}